In [1]:
# Imporing libraries
import os
import pandas as pd
import numpy as np
import statistics as stat
import itertools
from functools import reduce

## Read the dataset, display the first few rows in the dataset.

In [2]:
# Read the ratings dataset
baseLocation = "D:/TUNI/Courses/Period-2/DATA.ML.360 [Recommender]/Assignment 1/ml-latest-small/"
ratings_data = pd.read_csv(baseLocation+"ratings.csv")

# Displaying top 5 ratings data
ratings_data.head()

   userId  movieId  rating  timestamp
0       1        1     4.0  964982703
1       1        3     4.0  964981247
2       1        6     4.0  964982224
3       1       47     5.0  964983815
4       1       50     5.0  964982931

In [3]:
# Remove 'timestamp' column from ratings dataset because it's not needed
ratings_data.drop('timestamp', inplace=True, axis=1)

# Displaying top 5 ratings data
ratings_data.head()

   userId  movieId  rating
0       1        1     4.0
1       1        3     4.0
2       1        6     4.0
3       1       47     5.0
4       1       50     5.0

In [4]:
# Count of ratings (rows)
print(len(ratings_data))

# Count of users
print(len(pd.unique(ratings_data['userId'])))

100836
610

In [5]:
# Read the movie dataset
movies_data = pd.read_csv(baseLocation+'movies.csv')

# Displaying top 5 movies data
movies_data.head()

,movieId,title,genres
0,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy
1,2,Jumanji (1995),Adventure|Children|Fantasy
2,3,Grumpier Old Men (1995),Comedy|Romance
3,4,Waiting to Exhale (1995),Comedy|Drama|Romance
4,5,Father of the Bride Part II (1995),Comedy

In [6]:
# Remove the "genres" column from the movies dataset because it is unnecessary
movies_data.drop('genres', inplace=True, axis=1)

# Displaying top 5 ratings data
movies_data.head()

   movieId                               title
0        1                    Toy Story (1995)
1        2                      Jumanji (1995)
2        3             Grumpier Old Men (1995)
3        4            Waiting to Exhale (1995)
4        5  Father of the Bride Part II (1995)

## Implement the user-based collaborative filtering approach, using the Pearson correlation function for computing similarities between users

In [7]:
# We have chosen 3 users (35,135,235)
group = [35,135,235]

In [8]:
# Getting all the movies of a selected group has seen and rated
inputMovies=[]

for user in group:
    uId = user
    Movies = ratings_data[ratings_data['userId']== uId]
    inputMovies.append(Movies)

# Top five movies of the users of the group has seen or rated
for i in range(len(inputMovies)):
    print(len(inputMovies[i]))
    print(inputMovies[i].head())

23
      userId  movieId  rating
5273      35       11     4.0
5274      35       21     5.0
5275      35       39     3.0
5276      35       50     5.0
5277      35       60     5.0
279
       userId  movieId  rating
20336     135        1     4.0
20337     135        2     3.0
20338     135       21     3.0
20339     135       32     5.0
20340     135       47     5.0
65
       userId  movieId  rating
35112     235       10     2.0
35113     235       11     4.0
35114     235       21     4.0
35115     235       25     5.0
35116     235       32     4.0

In [9]:
# Similar users like our selected users of the group
similarUsers = []
for i in range(len(inputMovies)):
    tempSimilarUsers = ratings_data[ratings_data['movieId'].isin(inputMovies[i]['movieId'].tolist())]
    similarUsers.append(tempSimilarUsers)

# Top 5 elements of the similar users
for i in range(len(similarUsers)):
    print(similarUsers[i].head())

    userId  movieId  rating
4        1       50     5.0
13       1      231     5.0
14       1      235     4.0
17       1      316     3.0
32       1      590     4.0
    userId  movieId  rating
0        1        1     4.0
3        1       47     5.0
7        1      110     4.0
9        1      157     5.0
12       1      223     3.0
    userId  movieId  rating
7        1      110     4.0
12       1      223     3.0
14       1      235     4.0
16       1      296     3.0
19       1      349     4.0

In [10]:
# Sub dataframes based on users of the group
similarUsersGroup = []
for i in range(len(similarUsers)):
    tempsimilarUsersGroup = similarUsers[i].groupby(['userId'])
    similarUsersGroup.append(tempsimilarUsersGroup)

In [11]:
# Sort dataframes
for i in range(len(similarUsersGroup)): 
    similarUsersGroup[i] = sorted(similarUsersGroup[i], key= lambda x:len(x[1]), reverse = True)

In [12]:
# 2nd top user for each user of the group (1st one is the same as our users of the group)
for i in range(len(similarUsersGroup)):
    print(similarUsersGroup[i][1])

(117,        userId  movieId  rating
18355     117       11     4.0
18358     117       21     4.0
18364     117       39     3.0
18369     117       50     4.0
18370     117       60     3.0
18371     117       62     4.0
18376     117      150     4.0
18385     117      185     3.0
18393     117      231     2.0
18394     117      235     3.0
18395     117      236     3.0
18396     117      237     3.0
18398     117      252     4.0
18401     117      261     3.0
18403     117      266     4.0
18413     117      300     4.0
18415     117      316     3.0
18420     117      339     3.0
18466     117      590     4.0
18467     117      592     3.0
18470     117      595     4.0)
(414,        userId  movieId  rating
62294     414        1     4.0
62295     414        2     3.0
62307     414       21     4.0
62314     414       32     5.0
62322     414       47     4.0
...       ...      ...     ...
63774     414     4776     4.0
63779     414     4812     3.0
63797     414     4881     5.0
63803     414     4896     2.0
63834     414     4993     5.0

[238 rows x 3 columns])
(414,        userId  movieId  rating
62301     414       10     3.0
62302     414       11     5.0
62307     414       21     4.0
62311     414       25     3.0
62314     414       32     5.0
62315     414       34     5.0
62316     414       36     3.0
62317     414       39     4.0
62323     414       48     3.0
62328     414       62     4.0
62344     414      110     5.0
62356     414      150     4.0
62358     414      153     2.0
62364     414      161     3.0
62386     414      208     2.0
62393     414      223     5.0
62394     414      224     4.0
62400     414      235     4.0
62425     414      296     5.0
62426     414      300     4.0
62433     414      318     5.0
62438     414      329     3.0
62445     414      344     2.0
62448     414      348     4.0
62449     414      349     3.0
62450     414      350     2.0
62453     414      355     1.0
62454     414      356     5.0
62455     414      357     4.0
62458     414      364     4.0
62460     414      368     4.0
62464     414      377     4.0
62466     414      380     4.0
62485     414      434     3.0
62488     414      440     3.0
62495     414      454     3.0
62496     414      457     5.0
62502     414      474     4.0
62506     414      480     4.0
62516     414      500     3.0
62519     414      508     3.5
62527     414      527     4.0
62533     414      539     2.0
62540     414      551     4.0
62549     414      585     2.5
62550     414      586     3.0
62552     414      588     4.0
62553     414      589     5.0
62554     414      590     4.0
62555     414      592     4.0
62556     414      593     4.0
62557     414      594     4.0
62558     414      595     3.0
62560     414      597     3.0
62570     414      648     4.0
62590     414      736     3.0
62602     414      780     4.0)

In [13]:
# Number of similar users
for i in range(len(similarUsersGroup)):
    print(len(similarUsersGroup[i]))

432
604
565

In [14]:
# Number of movies of the first most similar user
for i in range(len(similarUsersGroup)):
    print(len(similarUsersGroup[i][1][1]))

21
238
57

## Calculating The Similarity (Pearson Correlation)

In [15]:
# Number of similar users (432, 604, 565) but not all of them contribute to the recommendation.
# Here, limiting the number to 100 Similar Users
for i in range(len(similarUsersGroup)):
    similarUsersGroup[i] = similarUsersGroup[i][1:101] # Removing the first user (userId = 35,135,235), as it is our selected user
    print(len(similarUsersGroup[i]))

100
100
100

In [16]:
# List of correlations of the users of the group
pearsonCorrelation = []

for i in range(len(similarUsersGroup)):
    # Store the Pearson Correlation in a dictionary, 
    pearsonCorrelationDict = {}
    
    # Get movies list of a user of the group and sort them by movieId
    temp_inputMovies = inputMovies[i].sort_values(by='movieId')
    
    # For every similar user group to an individual user of the group in our subset
    for name, group in similarUsersGroup[i]:
    
        # Let's start by sorting the input and current user group so the values aren't mixed up later on
        group = group.sort_values(by='movieId')
    
        # Get the review scores of the Selected user for the movies that they both have in common
        temp_df = temp_inputMovies[temp_inputMovies['movieId'].isin(group['movieId'].tolist())]
    
        # And then store them in a temporary buffer variable in a list format to facilitate future calculations
        selectedUserTempRatingList = temp_df['rating'].tolist()
    
        # Let's also put the current user group reviews in a list format
        similarUserTempRatingList = group['rating'].tolist()
    
        # Calculating pearson similarity
        simXX = 0
        meanSelectedUserTempRating = stat.mean(selectedUserTempRatingList)
        for i in selectedUserTempRatingList:
            simXX = simXX + pow((i - meanSelectedUserTempRating),2)
    
        simYY = 0
        meanSimilarUserTempRaning = stat.mean(similarUserTempRatingList)
        for j in similarUserTempRatingList:
            simYY = simYY + pow((j - meanSimilarUserTempRaning),2)
        
        simXY = 0
        for i, j in zip(selectedUserTempRatingList, similarUserTempRatingList):
            simXY = simXY+ ((i - meanSelectedUserTempRating ) * (j-meanSimilarUserTempRaning))
    
        # If the denominator is different than zero, then divide, else, 0 correlation.
        if simXX != 0 and simYY != 0:
            pearsonCorrelationDict[name] = simXY/np.sqrt(simXX*simYY)
        else:
            pearsonCorrelationDict[name] = 0                    
    
    pearsonCorrelation.append(pearsonCorrelationDict)

In [17]:
# Correlation Values
for i in range(len(pearsonCorrelation)):
    print(pearsonCorrelation[i].items())
    print(" ")

dict_items([(117, 0.1899901489143371), (414, -0.038335206136624694), (474, 0.17952413671328593), (6, -0.16836470741027082), (411, 0.4828078792603351), (38, 0.4561749161023165), (446, 0.36531753932878963), (599, -0.06146362971528592), (58, -0.19122793204774682), (458, 0.05454545454545454), (566, 0.23624976928744731), (40, 0.45431304586442517), (68, -0.5216955557265005), (84, 0.06736259938424739), (284, -0.4783446031074604), (429, 0.5264520511569365), (470, -0.07850686719788592), (480, -0.053946265454997186), (584, 0.5725820947661028), (602, 0.027532438555856614), (91, 0.24116846298044733), (174, -0.10663040478661669), (307, -0.08593000782454135), (314, 0.11932326792871528), (489, -0.13445852909056286), (8, 0.5231388366621641), (43, 0.3175426480542942), (45, -0.11012204898040079), (109, 0.35120668762232365), (136, 0.32313723196612754), (372, -0.2707638067882481), (373, 0.01747259921139871), (455, 0.012515654358043936), (600, -0.2335189460269705), (46, 0.2124307787987451), (121, 0.3492151478847891), (304, -0.10570328451633795), (353, 0.19960610498447515), (604, 0.4833682445228318), (608, 0.14336583458970686), (5, 0.6055300708194983), (42, 0.5757452501212796), (57, -0.23101872856096348), (140, 0.0825972178370086), (177, -0.34299717028501764), (181, 0.011135885079684368), (191, 0.506884001500781), (240, -0.11915109374689982), (242, 0.0288675134594813), (347, 0.016137430609197596), (476, 0.0), (94, 0.21417646843905966), (156, 0.5536365323582662), (182, 0.4877086345659833), (235, 0.28571428571428564), (330, 0.0549342454211899), (357, -0.19172367516925307), (385, 0.5484000129991115), (387, 0.5819143739626463), (404, 0.36560000866607434), (438, -0.3952847075210474), (448, -0.15407890860698423), (592, -0.012760874905367271), (603, -0.21726204731337045), (64, -0.337099931231621), (100, 0.06043672230190353), (102, 0.41937106841466276), (126, 0.5853091906293935), (130, 0.35921060405354976), (145, 0.41478067789217), (169, -0.014097096860864917), (202, -0.13363062095621223), (229, 0.07537783614444098), (274, -0.11504474832710555), (288, 0.2581988897471611), (321, 0.11359236684941296), (381, 0.41367015199601526), (436, 0.6825001477017444), (444, 0.4264014327112208), (468, 0.10229915092057103), (483, -0.12217890959741469), (498, 0.2886751345948128), (555, -0.107186615714068), (559, 0.06788442333021308), (588, 0.3202563076101744), (606, 0.6721936196477037), (32, 0.37907125275171766), (33, 0.08391813582966891), (99, 0.4879500364742666), (107, 0.674199862463242), (112, 0.6566742115331892), (162, 0.34151450937027694), (179, 0.7006490497453707), (199, 0.29617443887954614), (219, 0.620204250863299), (273, -0.43355498476205995), (294, 0.04397994971335425), (305, 0.7844645405527361), (323, 0.5382735648195079), (380, -0.5703845117952785)])

dict_items([(414, 0.36669148934019485), (599, 0.3455513117568666), (474, 0.37175740132926083), (448, 0.33857807826470926), (68, 0.12677856145996896), (608, 0.36933666189093556), (288, 0.3002426382191793), (274, 0.3280200186304342), (182, 0.24378756508643679), (19, 0.2851256386079884), (480, 0.35176969431315686), (380, 0.26754756464300944), (91, 0.4337184403840953), (590, 0.34353107920295844), (600, 0.2980199553853159), (387, 0.5262362681000448), (217, 0.1347073243985969), (307, 0.4304305660499969), (603, 0.1942515678733531), (483, 0.38309403391863744), (469, 0.3821272647612641), (57, 0.4989136990742854), (555, 0.28189063048585483), (368, 0.44348936096809605), (160, 0.34412716859813564), (219, 0.46281151439483964), (45, 0.19704757186340854), (561, 0.39498206869074076), (42, 0.2847620085806415), (313, 0.2716411090296752), (489, 0.30599285981562546), (64, 0.397072811515268), (477, 0.33007165395592425), (597, 0.474770124368655), (226, 0.3875023681057672), (391, 0.4886556457794124), (606, 0.2916762392712203), (294, 0.14420845980499225), (249, 0.49399106312608826), (438, 0.3127246129738707), (425, 0.16602164167089684), (177, 0.21820798409441178), (202, 0.3217473995479112), (453, 0.16457394540302547), (330, 0.27696875199183824), (298, 0.30142915631847905), (66, 0.269776970805678), (305, 0.31549157185730986), (580, 0.23162100170455652), (610, 0.3964394917052976), (452, 0.22741361608800592), (140, -0.009468215469370047), (570, 0.2015965915210624), (28, -0.11900767633393537), (381, 0.12127225571090475), (239, 0.14777835817377916), (18, 0.301200165545082), (199, 0.4812648012209374), (304, 0.14819629137193396), (292, -0.059372483519435096), (354, 0.2973093626895341), (357, 0.1598940481918817), (1, 0.30729341362312634), (266, 0.26991771343594984), (318, 0.3084498874107066), (434, 0.5188868321746377), (573, 0.3292244081091505), (275, 0.1554336338117601), (514, 0.2574168877137888), (428, 0.528075142223065), (462, 0.08335733472585564), (156, 0.0924164967812741), (186, 0.12666934406036764), (198, 0.30058118387214683), (607, 0.06853066619255146), (232, 0.120296304472301), (221, 0.11448103465194254), (234, 0.30655187869124967), (63, 0.23920349048279982), (82, 0.19859679467343141), (200, 0.30813616104913344), (560, 0.13112206496835938), (220, 0.15790644495810158), (525, 0.25083568139645307), (596, 0.511238916695823), (4, 0.20133354754131988), (21, -0.1047334246762235), (166, 0.3648688463693518), (312, 0.490355052590488), (534, 0.23954193531726223), (577, 0.32123886145971464), (282, 0.4370053256109164), (328, 0.1960274318867041), (372, 0.062487140403646994), (132, 0.41888916908490015), (325, 0.4994027368093293), (356, 0.19057867895862945), (195, 0.22719337814458804), (332, 0.24048613224953846), (122, 0.22779302384639202)])

dict_items([(414, 0.44978423786285343), (6, 0.317485753966705), (117, 0.4637103979315122), (599, 0.38002311423069374), (474, 0.3911993764510865), (480, 0.33326803918785), (91, 0.22471051683837437), (411, 0.37690687893384706), (602, 0.34215612720176186), (38, 0.2737798206091556), (58, 0.38556997424474876), (68, 0.13796840885114567), (446, 0.36606931196808024), (559, 0.4966438795252453), (109, 0.3901384518129579), (84, 0.578525883064975), (314, 0.46210193472674815), (373, 0.3961084710140625), (608, 0.22047555084478776), (57, 0.42240639115296097), (288, 0.30964187371550855), (590, 0.5779737166677332), (307, 0.25312481695991523), (448, 0.20559247435365383), (229, 0.4149203429404992), (330, 0.15500271259032428), (489, 0.4541634622086476), (584, 0.32281780879903177), (600, 0.0664180681721485), (174, -0.16584701644098312), (284, 0.2025573452504319), (470, 0.34924003715644775), (566, 0.2216482272129909), (240, 0.18688385677934888), (19, 0.32652336754692324), (436, 0.4457335326260826), (592, 0.4914523616067112), (43, -0.029114360595672382), (304, 0.047608882131251085), (357, 0.07817415259677876), (476, 0.4066899946398232), (541, 0.3021490326649737), (64, 0.3718678720805472), (144, 0.13175973919001294), (177, 0.4728656000634903), (372, 0.3065395250973801), (380, 0.3679670705493527), (385, 0.11691093578393269), (404, 0.24206536647461388), (483, 0.22867473772542907), (40, 0.6165878678780726), (45, 0.37949255284945405), (140, 0.39160321425113154), (274, 0.16229761600640677), (438, 0.321794632526197), (447, 0.16313661025626455), (455, 0.4416181522275232), (181, 0.15048474543068732), (458, 0.3029957718184264), (94, 0.378041994293848), (570, 0.567224168330597), (121, 0.36400367389003124), (136, 0.09513029883089881), (170, 0.27922370888846004), (182, 0.14633592567140785), (425, 0.14831611956904292), (477, 0.36843462530273285), (512, 0.5416055024927141), (603, 0.0641359757899716), (8, 0.43843878869070363), (102, 0.2499253728609978), (202, 0.17713418139541418), (292, 0.3185785802810487), (321, 0.2672955974842767), (323, 0.17634908142434788), (386, 0.2190156256311401), (387, -0.11319529356605297), (391, 0.15343206329683032), (524, 0.35103870512967134), (18, 0.41084937411782024), (42, 0.40568949740207333), (179, 0.544922728688545), (347, 0.4808074319494319), (353, 0.3793600578676829), (217, -0.12413345882246929), (226, 0.007685216917079122), (453, 0.31862823754460634), (469, 0.33111292011805443), (517, 0.39889601070023695), (597, 0.10914142607484115), (5, 0.29145673403038563), (126, 0.41036467732879794), (219, 0.30883029293206615), (273, 0.18271121795017872), (486, 0.22227669703719385), (580, 0.052601179768684704), (594, 0.0978405870918002), (604, 0.24964362063136586), (606, 0.2885361678483645), (156, 0.25760669417655535)])

In [18]:
similarityScoreofSimilarUsers_data =[]
for i in range(len(pearsonCorrelation)):
    tempSimilarityScoreofSimilarUsers_data = pd.DataFrame.from_dict(pearsonCorrelation[i], orient='index')
    similarityScoreofSimilarUsers_data.append(tempSimilarityScoreofSimilarUsers_data)
    
for i in range(len(similarityScoreofSimilarUsers_data)):
    print(similarityScoreofSimilarUsers_data[i].head())

            0
117  0.189990
414 -0.038335
474  0.179524
6   -0.168365
411  0.482808
            0
414  0.366691
599  0.345551
474  0.371757
448  0.338578
68   0.126779
            0
414  0.449784
6    0.317486
117  0.463710
599  0.380023
474  0.391199

In [19]:
# Similarity score of other similar users to our selected user (35,135,235)
for i in range(len(similarityScoreofSimilarUsers_data)):
    similarityScoreofSimilarUsers_data[i].columns = ['similarityScore']
    similarityScoreofSimilarUsers_data[i]['userId'] = similarityScoreofSimilarUsers_data[i].index
    similarityScoreofSimilarUsers_data[i].index = range(len(similarityScoreofSimilarUsers_data[i]))
    
for i in range(len(similarityScoreofSimilarUsers_data)):
    print(similarityScoreofSimilarUsers_data[i].head())

   similarityScore  userId
0         0.189990     117
1        -0.038335     414
2         0.179524     474
3        -0.168365       6
4         0.482808     411
   similarityScore  userId
0         0.366691     414
1         0.345551     599
2         0.371757     474
3         0.338578     448
4         0.126779      68
   similarityScore  userId
0         0.449784     414
1         0.317486       6
2         0.463710     117
3         0.380023     599
4         0.391199     474

In [20]:
# Top Similar users
topSimilarUsers = []
for i in range(len(similarityScoreofSimilarUsers_data)):
    tempTopSimilarUsers=similarityScoreofSimilarUsers_data[i].sort_values(by='similarityScore', ascending=False)
    topSimilarUsers.append(tempTopSimilarUsers)
    
for i in range(len(topSimilarUsers)):
    print(topSimilarUsers[i].head(5))

    similarityScore  userId
97         0.784465     305
92         0.700649     179
77         0.682500     436
89         0.674200     107
85         0.672194     606
    similarityScore  userId
69         0.528075     428
15         0.526236     387
65         0.518887     434
84         0.511239     596
95         0.499403     325
    similarityScore  userId
50         0.616588      40
15         0.578526      84
21         0.577974     590
60         0.567224     570
81         0.544923     179

## Calculating Recommendation Score

In [21]:
# Merging the top similar users similarity score with their ratings of movies
topSimilarUsersRating =[]
for i in range(len(topSimilarUsers)):
    tempTopSimilarUsersRating = topSimilarUsers[i].merge(ratings_data, left_on='userId', right_on='userId', how='inner')
    topSimilarUsersRating.append(tempTopSimilarUsersRating)
    
for i in range(len(topSimilarUsersRating)):  
    print(topSimilarUsersRating[i].head())

   similarityScore  userId  movieId  rating
0         0.784465     305        2     3.5
1         0.784465     305        6     3.5
2         0.784465     305       16     4.5
3         0.784465     305       25     3.0
4         0.784465     305       32     5.0
   similarityScore  userId  movieId  rating
0         0.528075     428        9     2.0
1         0.528075     428       19     1.0
2         0.528075     428       22     2.5
3         0.528075     428       44     2.0
4         0.528075     428       69     3.5
   similarityScore  userId  movieId  rating
0         0.616588      40        1     5.0
1         0.616588      40       17     5.0
2         0.616588      40       19     2.0
3         0.616588      40       21     4.0
4         0.616588      40       26     4.0

In [22]:
# Calculating the mean ratings of all the similar users (suppose, b is a similar user to a group-user)
meanRb = []

for i in range(len(topSimilarUsersRating)):
    tempMeanRb = topSimilarUsersRating[i].groupby('userId').mean()[['rating']]
    tempMeanRb.columns = ['avgRating']
    tempMeanRb['userId'] = tempMeanRb.index
    tempMeanRb.index = range(len(tempMeanRb))
    
    meanRb.append(tempMeanRb)

for i in range(len(meanRb)):
    print(meanRb[i].head())

   avgRating  userId
0   3.636364       5
1   3.493631       6
2   3.574468       8
3   3.754902      32
4   3.788462      33
   avgRating  userId
0   4.366379       1
1   3.555556       4
2   3.732072      18
3   2.607397      19
4   3.260722      21
   avgRating  userId
0   3.636364       5
1   3.493631       6
2   3.574468       8
3   3.732072      18
4   2.607397      19

In [23]:
# Merging the top similar users average rating score 
for i in range(len(topSimilarUsersRating)):
    topSimilarUsersRating[i] = topSimilarUsersRating[i].merge(meanRb[i], left_on='userId', right_on='userId', how='inner')
    
for i in range(len(topSimilarUsersRating)):
    print(topSimilarUsersRating[i].head())

   similarityScore  userId  movieId  rating  avgRating
0         0.784465     305        2     3.5   3.924668
1         0.784465     305        6     3.5   3.924668
2         0.784465     305       16     4.5   3.924668
3         0.784465     305       25     3.0   3.924668
4         0.784465     305       32     5.0   3.924668
   similarityScore  userId  movieId  rating  avgRating
0         0.528075     428        9     2.0       2.64
1         0.528075     428       19     1.0       2.64
2         0.528075     428       22     2.5       2.64
3         0.528075     428       44     2.0       2.64
4         0.528075     428       69     3.5       2.64
   similarityScore  userId  movieId  rating  avgRating
0         0.616588      40        1     5.0    3.76699
1         0.616588      40       17     5.0    3.76699
2         0.616588      40       19     2.0    3.76699
3         0.616588      40       21     4.0    3.76699
4         0.616588      40       26     4.0    3.76699

In [24]:
# Multiplies the similarity by the user's ratings
for i in range(len(topSimilarUsersRating)):
    topSimilarUsersRating[i]['weightedRatingScore'] = topSimilarUsersRating[i]['similarityScore']*(topSimilarUsersRating[i]['rating']-topSimilarUsersRating[i]['avgRating'])

for i in range(len(topSimilarUsersRating)):
    print(topSimilarUsersRating[i].head())

   similarityScore  userId  movieId  rating  avgRating  weightedRatingScore
0         0.784465     305        2     3.5   3.924668            -0.333137
1         0.784465     305        6     3.5   3.924668            -0.333137
2         0.784465     305       16     4.5   3.924668             0.451328
3         0.784465     305       25     3.0   3.924668            -0.725369
4         0.784465     305       32     5.0   3.924668             0.843560
   similarityScore  userId  movieId  rating  avgRating  weightedRatingScore
0         0.528075     428        9     2.0       2.64            -0.337968
1         0.528075     428       19     1.0       2.64            -0.866043
2         0.528075     428       22     2.5       2.64            -0.073931
3         0.528075     428       44     2.0       2.64            -0.337968
4         0.528075     428       69     3.5       2.64             0.454145
   similarityScore  userId  movieId  rating  avgRating  weightedRatingScore
0         0.616588      40        1     5.0    3.76699             0.760259
1         0.616588      40       17     5.0    3.76699             0.760259
2         0.616588      40       19     2.0    3.76699            -1.089505
3         0.616588      40       21     4.0    3.76699             0.143671
4         0.616588      40       26     4.0    3.76699             0.143671

In [25]:
# Applies a sum to the topUsers after grouping it up by userId
topSimilarUsersRatingForeachMovie = []

for i in range(len(topSimilarUsersRating)):
    tempTopSimilarUsersRating = topSimilarUsersRating[i].groupby('movieId').sum()[['weightedRatingScore']]
    tempTopSimilarUsersRating.columns = ['sum_weightedRatingScore']
    tempTopSimilarUsersRating['movieId'] = tempTopSimilarUsersRating.index
    
    topSimilarUsersRatingForeachMovie.append(tempTopSimilarUsersRating)
    
for i in range(len(topSimilarUsersRatingForeachMovie)):  
    print(topSimilarUsersRatingForeachMovie[i].head())

         sum_weightedRatingScore  movieId
movieId
1                       1.196120        1
2                       0.078638        2
3                       1.064800        3
4                      -0.645703        4
5                      -0.245415        5
         sum_weightedRatingScore  movieId
movieId
1                       8.591931        1
2                      -2.844434        2
3                      -1.019347        3
4                      -0.444491        4
5                      -3.283965        5
         sum_weightedRatingScore  movieId
movieId
1                      12.140254        1
2                       0.976881        2
3                      -0.400920        3
4                      -1.129472        4
5                      -5.267823        5

In [26]:
# Creates an empty list of dataframes to store the final recommendation score
recommendation_data = []

for i in range(len(topSimilarUsersRatingForeachMovie)):
    # Create an empty dataframe
    temp_recommendation_data = pd.DataFrame()
    
    # Now we take the weighted average
    meanRa = inputMovies[i]['rating'].mean()
    temp_recommendation_data['weighted average recommendation score'] = meanRa+(topSimilarUsersRatingForeachMovie[i]['sum_weightedRatingScore']/topSimilarUsers[i]['similarityScore'].sum())
    temp_recommendation_data['movieId'] = temp_recommendation_data.index
    
    # Removing the name of the index for future ambiguity
    temp_recommendation_data.index.name = None
    
    # Swaping Coumns
    titles = list(temp_recommendation_data)
    titles[0], titles[1] = titles[1], titles[0]
    temp_recommendation_data = temp_recommendation_data[titles]
    
    recommendation_data.append(temp_recommendation_data)

for i in range(len(recommendation_data)):    
    print(recommendation_data[i].head())

   movieId  weighted average recommendation score
1        1                               4.159203
2        2                               4.091706
3        3                               4.151271
4        4                               4.047956
5        5                               4.072133
   movieId  weighted average recommendation score
1        1                               3.938944
2        2                               3.528819
3        3                               3.594269
4        4                               3.614884
5        5                               3.513057
   movieId  weighted average recommendation score
1        1                               4.064548
2        2                               3.679820
3        3                               3.632337
4        4                               3.607228
5        5                               3.464607

## Recommended Movies

In [27]:
# Sort the recommendation scores and recommend movies for a user of the group
for i in range(len(recommendation_data)):
    recommendation_data[i] = recommendation_data[i].sort_values(by='weighted average recommendation score', ascending=False)
    recommendation_data[i] = recommendation_data[i].reset_index(drop=True)
    recommendation_data[i]['rank'] = recommendation_data[i].index
    
    print(recommendation_data[i].head())

   movieId  weighted average recommendation score  rank
0      318                               4.954681     0
1       50                               4.791123     1
2      296                               4.648732     2
3      527                               4.623802     3
4      150                               4.585603     4
   movieId  weighted average recommendation score  rank
0      296                               4.522742     0
1     1196                               4.476703     1
2      260                               4.444333     2
3      858                               4.409846     3
4     2571                               4.390945     4
   movieId  weighted average recommendation score  rank
0      318                               4.599339     0
1      356                               4.427028     1
2      527                               4.333266     2
3      593                               4.293626     3
4      110                               4.264628     4

## Top 20 Recommended Movies (Individual Users of the group)

In [28]:
# Top 20 Recommended Movies
for i in range(len(recommendation_data)):
    print("User :", i)
    print(movies_data.loc[movies_data['movieId'].isin(recommendation_data[i].head(20)['movieId'].tolist())])

User : 0
      movieId                             title
15         16                     Casino (1995)
32         34                       Babe (1995)
46         50        Usual Suspects, The (1995)
55         62         Mr. Holland's Opus (1995)
97        110                 Braveheart (1995)
123       150                  Apollo 13 (1995)
190       223                     Clerks (1994)
257       296               Pulp Fiction (1994)
277       318  Shawshank Redemption, The (1994)
314       356               Forrest Gump (1994)
398       457              Fugitive, The (1993)
434       497     Much Ado About Nothing (1993)
461       527           Schindler's List (1993)
508       590         Dances with Wolves (1990)
510       593  Silence of the Lambs, The (1991)
706       924      2001: A Space Odyssey (1968)
907      1206        Clockwork Orange, A (1971)
1662     2232                       Cube (1997)
1939     2571                Matrix, The (1999)
2460     3273                   Scream 3 (2000)
User : 1
      movieId                                              title
46         50                         Usual Suspects, The (1995)
224       260          Star Wars: Episode IV - A New Hope (1977)
257       296                                Pulp Fiction (1994)
277       318                   Shawshank Redemption, The (1994)
314       356                                Forrest Gump (1994)
461       527                            Schindler's List (1993)
474       541                                Blade Runner (1982)
510       593                   Silence of the Lambs, The (1991)
520       608                                       Fargo (1996)
659       858                              Godfather, The (1972)
828      1089                              Reservoir Dogs (1992)
863      1136             Monty Python and the Holy Grail (1975)
898      1196  Star Wars: Episode V - The Empire Strikes Back...
899      1197                         Princess Bride, The (1987)
900      1198  Raiders of the Lost Ark (Indiana Jones and the...
911      1210  Star Wars: Episode VI - Return of the Jedi (1983)
1939     2571                                 Matrix, The (1999)
2145     2858                             American Beauty (1999)
2226     2959                                  Fight Club (1999)
3141     4226                                     Memento (2000)
User : 2
      movieId                                              title
0           1                                   Toy Story (1995)
31         32          Twelve Monkeys (a.k.a. 12 Monkeys) (1995)
32         34                                        Babe (1995)
46         50                         Usual Suspects, The (1995)
97        110                                  Braveheart (1995)
224       260          Star Wars: Episode IV - A New Hope (1977)
257       296                                Pulp Fiction (1994)
277       318                   Shawshank Redemption, The (1994)
314       356                                Forrest Gump (1994)
322       364                              Lion King, The (1994)
398       457                               Fugitive, The (1993)
461       527                            Schindler's List (1993)
507       589                  Terminator 2: Judgment Day (1991)
510       593                   Silence of the Lambs, The (1991)
659       858                              Godfather, The (1972)
863      1136             Monty Python and the Holy Grail (1975)
898      1196  Star Wars: Episode V - The Empire Strikes Back...
899      1197                         Princess Bride, The (1987)
900      1198  Raiders of the Lost Ark (Indiana Jones and the...
1939     2571                                 Matrix, The (1999)

In [29]:
# Combining all users ratings by movieId
temp_group_recommendation_data = reduce(lambda left,right: pd.merge(left,right,on='movieId'), recommendation_data)
temp_group_recommendation_data.head(20)

,movieId,weighted average recommendation score_x,rank_x,weighted average recommendation score_y,rank_y,weighted average recommendation score,rank
0,318,4.954681,0,4.295213,6,4.599339,0
1,50,4.791123,1,4.259269,9,4.083112,10
2,296,4.648732,2,4.522742,0,4.230116,5
3,527,4.623802,3,4.201946,16,4.333266,2
4,150,4.585603,4,3.725229,360,3.941335,26
5,590,4.543257,5,3.750337,284,3.900709,36
6,593,4.492552,6,4.219574,15,4.293626,3
7,223,4.463540,7,3.772183,239,3.841998,67
8,924,4.454826,8,4.006904,56,3.858866,51
9,457,4.448615,9,3.864439,113,4.170016,6
10,356,4.435531,10,4.163270,17,4.427028,1
11,110,4.417545,11,4.044053,41,4.264628,4
12,1206,4.406673,12,4.094206,26,3.748714,214
13,62,4.354838,13,3.545141,8032,3.788736,144
14,34,4.348832,14,3.639929,2190,3.988551,18
15,2232,4.348786,15,3.681328,663,3.623877,6249
16,16,4.333746,16,3.902464,86,3.808515,108
17,497,4.330050,17,3.687371,605,3.828111,80
18,2571,4.311385,18,4.390945,4,4.022143,14
19,3273,4.308648,19,3.465188,8294,3.518655,7399

## Aggregation : Average Method

In [30]:
# Calculate average score and sort them
final_avg_group_recommendation_data = temp_group_recommendation_data.copy(deep = False)
final_avg_group_recommendation_data['Average group recommendation score']= final_avg_group_recommendation_data[['weighted average recommendation score_x', 'weighted average recommendation score_y', 'weighted average recommendation score']].mean(axis=1)
final_avg_group_recommendation_data = final_avg_group_recommendation_data.sort_values(by=['Average group recommendation score'], ascending=False)

final_avg_group_recommendation_data = final_avg_group_recommendation_data.reset_index(drop=True)
final_avg_group_recommendation_data['final_rank'] = final_avg_group_recommendation_data.index

final_avg_group_recommendation_data.head(20)

,movieId,weighted average recommendation score_x,rank_x,weighted average recommendation score_y,rank_y,weighted average recommendation score,rank,Average group recommendation score,final_rank
0,318,4.954681,0,4.295213,6,4.599339,0,4.616411,0
1,296,4.648732,2,4.522742,0,4.230116,5,4.467196,1
2,527,4.623802,3,4.201946,16,4.333266,2,4.386338,2
3,50,4.791123,1,4.259269,9,4.083112,10,4.377835,3
4,356,4.435531,10,4.163270,17,4.427028,1,4.341943,4
5,593,4.492552,6,4.219574,15,4.293626,3,4.335251,5
6,260,4.247576,45,4.444333,2,4.093168,9,4.261692,6
7,858,4.258048,36,4.409846,3,4.059174,12,4.242356,7
8,110,4.417545,11,4.044053,41,4.264628,4,4.242075,8
9,2571,4.311385,18,4.390945,4,4.022143,14,4.241491,9
10,1196,4.208545,95,4.476703,1,4.030642,13,4.238630,10
11,2959,4.229355,72,4.376619,5,3.944492,25,4.183489,11
12,457,4.448615,9,3.864439,113,4.170016,6,4.161023,12
13,2858,4.244224,47,4.265206,8,3.911178,33,4.140203,13
14,1089,4.252844,40,4.235407,12,3.909096,35,4.132449,14
15,589,4.132462,576,4.089331,29,4.150897,7,4.124230,15
16,1198,4.074858,5630,4.287293,7,4.007731,15,4.123294,16
17,364,4.304539,21,3.895803,90,4.138576,8,4.112973,17
18,608,4.275839,27,4.148243,19,3.909689,34,4.111257,18
19,4226,4.152077,339,4.235323,13,3.946069,24,4.111156,19

## Top-20 Recommendations (Movies) for the group : Average Method

In [31]:
# Top 20 Recommended Movies
movies_data.loc[movies_data['movieId'].isin(final_avg_group_recommendation_data.head(20)['movieId'].tolist())]

      movieId                                              title
46         50                         Usual Suspects, The (1995)
97        110                                  Braveheart (1995)
224       260          Star Wars: Episode IV - A New Hope (1977)
257       296                                Pulp Fiction (1994)
277       318                   Shawshank Redemption, The (1994)
314       356                                Forrest Gump (1994)
322       364                              Lion King, The (1994)
398       457                               Fugitive, The (1993)
461       527                            Schindler's List (1993)
507       589                  Terminator 2: Judgment Day (1991)
510       593                   Silence of the Lambs, The (1991)
520       608                                       Fargo (1996)
659       858                              Godfather, The (1972)
828      1089                              Reservoir Dogs (1992)
898      1196  Star Wars: Episode V - The Empire Strikes Back...
900      1198  Raiders of the Lost Ark (Indiana Jones and the...
1939     2571                                 Matrix, The (1999)
2145     2858                             American Beauty (1999)
2226     2959                                  Fight Club (1999)
3141     4226                                     Memento (2000)

## Aggregation : Least Misery Method

In [32]:
# Calculate the min Ratings of the group (Least Misery Approach)
final_min_group_recommendation_data = temp_group_recommendation_data.copy(deep = False)
final_min_group_recommendation_data['Min group recommendation score']= final_min_group_recommendation_data[['weighted average recommendation score_x', 'weighted average recommendation score_y', 'weighted average recommendation score']].min(axis=1)
final_min_group_recommendation_data = final_min_group_recommendation_data.sort_values(by=['Min group recommendation score'], ascending=False)

final_min_group_recommendation_data = final_min_group_recommendation_data.reset_index(drop=True)
final_min_group_recommendation_data['final_rank'] = final_min_group_recommendation_data.index

final_min_group_recommendation_data.head(20)

,movieId,weighted average recommendation score_x,rank_x,weighted average recommendation score_y,rank_y,weighted average recommendation score,rank,Min group recommendation score,final_rank
0,318,4.954681,0,4.295213,6,4.599339,0,4.295213,0
1,296,4.648732,2,4.522742,0,4.230116,5,4.230116,1
2,593,4.492552,6,4.219574,15,4.293626,3,4.219574,2
3,527,4.623802,3,4.201946,16,4.333266,2,4.201946,3
4,356,4.435531,10,4.163270,17,4.427028,1,4.163270,4
5,260,4.247576,45,4.444333,2,4.093168,9,4.093168,5
6,589,4.132462,576,4.089331,29,4.150897,7,4.089331,6
7,50,4.791123,1,4.259269,9,4.083112,10,4.083112,7
8,858,4.258048,36,4.409846,3,4.059174,12,4.059174,8
9,110,4.417545,11,4.044053,41,4.264628,4,4.044053,9
10,1196,4.208545,95,4.476703,1,4.030642,13,4.030642,10
11,2571,4.311385,18,4.390945,4,4.022143,14,4.022143,11
12,1198,4.074858,5630,4.287293,7,4.007731,15,4.007731,12
13,1136,4.076974,5463,4.246942,11,4.003602,16,4.003602,13
14,1197,4.111705,1185,4.219776,14,3.989466,17,3.989466,14
15,32,4.221489,82,4.059723,37,3.985326,19,3.985326,15
16,1221,4.170457,221,4.147440,20,3.982713,20,3.982713,16
17,1270,3.990812,7198,4.090858,28,3.960252,22,3.960252,17
18,47,4.216308,85,4.092467,27,3.958758,23,3.958758,18
19,4226,4.152077,339,4.235323,13,3.946069,24,3.946069,19

## Top-20 Recommendations (Movies) for the group : Least Misery Method

In [33]:
# Top 20 Recommended Movies (least Misery apporach)
movies_data.loc[movies_data['movieId'].isin(final_min_group_recommendation_data.head(20)['movieId'].tolist())]

      movieId                                              title
31         32          Twelve Monkeys (a.k.a. 12 Monkeys) (1995)
43         47                        Seven (a.k.a. Se7en) (1995)
46         50                         Usual Suspects, The (1995)
97        110                                  Braveheart (1995)
224       260          Star Wars: Episode IV - A New Hope (1977)
257       296                                Pulp Fiction (1994)
277       318                   Shawshank Redemption, The (1994)
314       356                                Forrest Gump (1994)
461       527                            Schindler's List (1993)
507       589                  Terminator 2: Judgment Day (1991)
510       593                   Silence of the Lambs, The (1991)
659       858                              Godfather, The (1972)
863      1136             Monty Python and the Holy Grail (1975)
898      1196  Star Wars: Episode V - The Empire Strikes Back...
899      1197                         Princess Bride, The (1987)
900      1198  Raiders of the Lost Ark (Indiana Jones and the...
922      1221                     Godfather: Part II, The (1974)
969      1270                          Back to the Future (1985)
1939     2571                                 Matrix, The (1999)
3141     4226                                     Memento (2000)

 ## Part B: Disagreements

### Compute Kendall tau Distance for both the aggregation method (Average and Least Misery)

In [34]:
# Defining Kendall Tau Distance Function:
def kendallTau(A, B):
    pairs = itertools.combinations(range(0, len(A)), 2)

    distance = 0

    for x, y in pairs:
        a = A[x] - A[y]
        b = B[x] - B[y]

        # if discordant (different signs)
        if (a * b < 0):
            distance += 1

    return distance

In [35]:
# Creating the ranking list of the users and the average aggregation method
AvgDisagg = final_avg_group_recommendation_data.copy(deep= False) 
AvgDisagg = AvgDisagg.sort_values(by=["movieId"])

r1 = AvgDisagg['rank_x'].tolist()
r2 = AvgDisagg['rank_y'].tolist()
r3 = AvgDisagg['rank'].tolist()
ra = AvgDisagg['final_rank'].tolist()

In [36]:
# Creating the ranking list of the users and the least miseary aggregation method
LmDisagg = final_min_group_recommendation_data.copy(deep= False) 
LmDisagg = LmDisagg.sort_values(by=["movieId"])

r1 = LmDisagg['rank_x'].tolist()
r2 = LmDisagg['rank_y'].tolist()
r3 = LmDisagg['rank'].tolist()
rlm = LmDisagg['final_rank'].tolist()

In [37]:
TauAvg =kendallTau(r1,ra)+kendallTau(r2,ra)+kendallTau(r3,ra)
TauLm = kendallTau(r1,rlm)+kendallTau(r2,rlm)+kendallTau(r3,rlm)

print(TauAvg)
print(TauLm)

17563761
16718478

In [38]:
# Top 20 Recommended Movies
movies_data.loc[movies_data['movieId'].isin(final_avg_group_recommendation_data.head(20)['movieId'].tolist())]

      movieId                                              title
46         50                         Usual Suspects, The (1995)
97        110                                  Braveheart (1995)
224       260          Star Wars: Episode IV - A New Hope (1977)
257       296                                Pulp Fiction (1994)
277       318                   Shawshank Redemption, The (1994)
314       356                                Forrest Gump (1994)
322       364                              Lion King, The (1994)
398       457                               Fugitive, The (1993)
461       527                            Schindler's List (1993)
507       589                  Terminator 2: Judgment Day (1991)
510       593                   Silence of the Lambs, The (1991)
520       608                                       Fargo (1996)
659       858                              Godfather, The (1972)
828      1089                              Reservoir Dogs (1992)
898      1196  Star Wars: Episode V - The Empire Strikes Back...
900      1198  Raiders of the Lost Ark (Indiana Jones and the...
1939     2571                                 Matrix, The (1999)
2145     2858                             American Beauty (1999)
2226     2959                                  Fight Club (1999)
3141     4226                                     Memento (2000)